*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

nav {
    width: 300px;
    height: 550px;
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
}

.mainmenu>li{
    /* 메인메뉴 배경색만 선택 */
    background-color: rgba(25, 35, 130, 0.679);
    padding: 15px 0;
    font-weight: bold;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

/* 메인메뉴 마우스 올렸을 때 디자인 */
.mainmenu>li:hover {
    background-color: rgba(255, 255, 255, 0.409);
    color: rgb(253, 106, 0);
}

/* 서브메뉴들 선택하기 */
.submenu li {
    background-color: rgb(231, 250, 215);
    padding: 2px 0;

    /* 사라지게 */
    display: none;
}